.record {
  width: 800px;
  margin: 0 auto 50px;
  &__unit {
    width: 800px;
    height: 50px;
    &__list {
      width: 120px;
      height: 50px;
      background-color: #f5f5f5;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      line-height: 50px;
      border: solid;
      border-width: thin;
      border-color: brown;
      color: rgb(95, 25, 25);
    }
    &__list_memo {
      width: 225px;
      height: 50px;
      background-color: whitesmoke;
      display: inline-block;
      vertical-align: top;
      line-height: 50px;
      border: solid;
      border-width: thin;
      border-color: brown;
      padding-left: 30px;
      color: rgb(95, 25, 25);
    }
  }
  &__table {
    width: 800px;
    height: 50px;
    &__list {
      width: 120px;
      height: 50px;
      background-color: whitesmoke;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      line-height: 50px;
      border: solid;
      border-width: thin;
      border-color: brown;
      color: rgb(95, 25, 25);
    }
    &__list_memo {
      width: 195px;
      height: 50px;
      background-color: whitesmoke;
      display: inline-block;
      vertical-align: top;
      line-height: 50px;
      border: solid;
      border-width: thin;
      border-color: brown;
      padding-left: 30px;
      padding-right: 30px;
      overflow: auto;
      white-space: nowrap;
      color: rgb(95, 25, 25);
    }
  }
}

.monthly-record {
  width: 800px;
  margin: 0 auto;
  .record__unit {
    width: 800px;
    height: 30px;
    &__list {
      width: 120px;
      height: 30px;
      background-color: #f5f5f5;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      line-height: 30px;
      border: solid;
      border-width: thin;
      border-color: brown;
      color: rgb(95, 25, 25);
    }
    &__list_memo {
      width: 225px;
      height: 30px;
      background-color: whitesmoke;
      display: inline-block;
      vertical-align: top;
      line-height: 30px;
      border: solid;
      border-width: thin;
      border-color: brown;
      padding-left: 30px;
      color: rgb(95, 25, 25);
    }
  }
  .record__table {
    width: 800px;
    height: 30px;
    &__list {
      width: 120px;
      height: 30px;
      background-color: whitesmoke;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      line-height: 30px;
      border: solid;
      border-width: thin;
      border-color: brown;
      color: rgb(95, 25, 25);
    }
    &__list_memo {
      width: 195px;
      height: 30px;
      background-color: whitesmoke;
      display: inline-block;
      vertical-align: top;
      line-height: 30px;
      border: solid;
      border-width: thin;
      border-color: brown;
      padding-left: 30px;
      padding-right: 30px;
      overflow: auto;
      white-space: nowrap;
      color: rgb(95, 25, 25);
    }
  }
}
